@model OnlineTicariOtomasyon.Models.Entity.Personel
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="mt-4" style="margin-left:670px;color:purple;font-size:33px">Personel Guncelle</h3>

@using (Html.BeginForm("Guncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="margin-top:25px"></div>
    <div style="margin-top:15px">
        @Html.HiddenFor(x => x.Id)
        <label>Personel Adı: </label>
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", required="required" })
    </div>
    <div style="margin-top:15px">
        <label>Personel Soyadı: </label>
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", required = "required" })
    </div>
    <div style="margin-top:15px">
        <label>Departman: </label>
        @Html.DropDownListFor(x => x.DepartmanId, (List<SelectListItem>)ViewBag.Departmanlar, new { @class = "form-control", required = "required" })
    </div>
    <div style="margin-top:15px">
        <label>Resim: </label>
        <img src=@Url.Content("~/img/" + Model.Resim) class="img-circle img-fluid" style="width:80px;height:100px" />
        <input type="file" name="Resim"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>
}

