@model List<OnlineTicariOtomasyon.Models.Entity.Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 0;
}

<head>
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Templates/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<div class="col-12 mt-3">
    <div class="row">
        <a href="/Personel/Ekle" style="margin-bottom:7px;margin-left:20px" class="btn btn-primary">Yeni Personel Ekle</a>
        <h3 style="margin-left:480px;color:red;font-size:35px">Personeller</h3>
    </div>
</div>
<br />
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                @item.Departman.Ad
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@item.Ad @item.Soyad </b></h2>
                                        <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>

                                    </div>
                                    <div class="col-5 text-center">
                                        <img src=@Url.Content("~/img/"+item.Resim) class="img-circle img-fluid" style="width:1200px">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="/Personel/Guncelle/@item.Id" class="btn btn-sm btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="/Departman/DepartmanPersonelSatis/@item.Id" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i>Satış Geçmişi
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /.card -->

</section>

<script src="~/Templates/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/dist/js/demo.js"></script>

