@model List<OnlineTicariOtomasyon.Models.Entity.Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int i = 0;
}

<div class="card mt-3">
    <div class="col-12 mt-3">
        <div class="row">
            <a href="/Departman/Ekle" style="margin-bottom:7px;margin-left:20px" class="btn btn-primary">Yeni Departman Ekle</a>
            <h3 style="margin-left:480px;color:green;font-size:33px">Departman Listesi</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>DEPARTMAN ADI</th>
                        <th>PERSONELLER</th>
                        <th>DÜZENLE</th>
                        <th>SİL</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Ad</td>
                            <td>
                                <a href="/Departman/Detay/@item.Id" class="btn btn-info">Personeller</a>
                            </td>
                            <td>
                                <a href="/Departman/Guncelle/@item.Id" class="btn btn-warning">Düzenle</a>
                            </td>
                            <td>
                                <a href="/Departman/Sil/@item.Id" class="btn btn-danger">Sil</a>
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

